/*
 *	opacity mixin (20/10/14)
 *  cross browser opacity
 *	usage : @include opacity(.5);
 */
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE);
}

/*
 *	center block mixin (21/10/14)
 *  center-align a block level element
 *	usage : @include center-block;
 */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 *	circle mixin (21/10/14)
 *  create a circle with custom size (default value: 40px)
 *	usage : @include circle(100px);
 */
@mixin circle($size: 40px) {
     width: $size;
     height: $size;
     @include border-radius(100%);
}
