/*
 *  _community-menu.scss (20/11/16)
 *
 */

.community-menu {
  margin-top: 30px;

  @include mq(medium) {
    margin-top: 60px;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;

    a {
      display: block;
      padding: 4px;
      opacity: 0.85;
      transition: opacity 0.2s;

      &:hover,
      &:active {
        opacity: 1;
      }

      img {
        display: block;
        max-width: 20px;
        height: auto;
      }

      &.yelp img {
        max-width: 19px;
      }

      &.linkedin img {
        max-width: 18px;
      }
    }
  }
}
