/*
 *  _main-content.scss (20/11/16)
 *	main part
 *
 */

.main-content {

  @include breakpoint(small) {
    font-size: 1em;
  }

  &--title {
    font: 400 3.6em 'Dancing Script', serif;
  }

  &--desc {
    margin: 0 auto 10px;
    max-width: 520px;
    font-size: 1.8em;

    + .main-content--title {
      margin-top: 60px;

      @include breakpoint(small) {
        margin-top: 30px;
      }
    }
  }

  a,
  a:visited {
    position: relative;
    display: inline-block;
    padding: 0 2px;
    color: $theme-primary;
    text-decoration: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
    }

    &::before {
      left: 0;
      z-index: 1;
      height: 3px;
      width: 0;
      background: $theme-secondary;
      transition: width 0.2s;
    }

    &::after {
      right: 0;
      z-index: 0;
      height: 1px;
      width: 100%;
      background: $theme-primary;
      transition: width 0.2s 0.2s;
    }

    &:hover,
    &:active {
      color: $theme-primary;

      &::before {
        width: 100%;
        transition: width 0.2s 0.2s;
      }

      &::after {
        width: 0;
        transition: width 0.2s;
      }
    }
  }
}
