/*
 *  _main-title.scss (20/11/16)
 *	site title
 *
 */

.main-title {
  margin-bottom: 30px;
  font-size: 0.7em;

  @include mq(medium) {
    margin-bottom: 60px;
    font-size: 1em;
  }

  &--name {
    font: 400 5.2em 'Dancing Script', serif;
  }

  &--function {
    font: 900 3.64em/.9 Lato,serif;
    text-transform: uppercase;
    color: $theme-secondary;
  }
}