/*
 *  _main-title.scss (20/11/16)
 *	site title
 *
 */

.main-title {
  margin-bottom: 60px;
  font-size: 1em;

  @include breakpoint(small) {
    margin-bottom: 30px;
    font-size: 0.7em;
  }

  &--name {
    font: 400 5.1em 'Dancing Script', serif;
  }

  &--function {
    font: 900 6em/0.9 Lato, serif;
    text-transform: uppercase;

    .front {
      color: $theme-secondary;
    }
  }
}