@import "_reset/reset";
@import "_core/media-query";
@import "_params/layout";
@import "_params/colors";



/* global styles */
a,
a:focus,
a:active,
a:visited {
  color: $text-base;
  text-decoration: none
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $theme-primary;
  font: 300 62.5%/1.4 Lato, sans-serif;
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

::-moz-selection { color: #fff;  background: $theme-secondary; }
::selection      { color: #fff;  background: $theme-secondary; }

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  min-width: $site-width-min;
  min-height: 100%;

  @include mq(medium) {
    padding: 60px;
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url(../img/site-bg.jpg) no-repeat $text-base-reversed;
    background-size: cover;
  }
}

@import "parts/main-title";
@import "parts/main-content";
@import "parts/community-menu";
