@import "_reset/reset";
@import "_core/breakpoint";

$text-base: #444;
$text-base-reversed: #fafafa;

$theme-primary: #FE5;
$theme-secondary: #1CF;
$theme-tertiary: #C06;

/* global styles */
a,
a:focus,
a:active,
a:visited {
  color: $text-base;
  text-decoration: none
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $theme-primary;
  font: 300 62.5%/1.4 Lato, sans-serif;
  text-align: center;
}

::-moz-selection { color: #fff;  background: $theme-secondary; }
::selection      { color: #fff;  background: $theme-secondary; }

.wrapper {
  position: relative;
  padding: 60px;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  min-height: 100%;

  @include breakpoint(small) {
    padding: 30px;
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url(../img/site-bg.jpg) no-repeat $text-base-reversed;
    background-size: cover;
  }
}

@import "parts/main-title";
@import "parts/main-content";
@import "parts/community-menu";
